
<!-- Return to the home button -->
<button (click)="returnHome()">Return Home</button>
<h3>
   You have reached the primeng testing page!!
</h3>
<div>
<!-- This is a sample of  using s split button -->
<p-splitButton label="Save" icon="pi pi-file" (onClick)="save()" [model]="items" ></p-splitButton>
</div>
<div class="refCard">
<p-card header="Simple Card" [style]="{width: '360px'}">
   <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
      deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
</p-card>

<br>
<br>

<p-card header="Advanced Card" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
   <p-header>
      <img src="Card" src="assets/img/castles/7castle_spain.jpg">
   </p-header>
   <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
      deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
   <p-footer>
      <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
      <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
   </p-footer>
</p-card>





</div>
