
$highlightColor: #6b6a69 ;

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  // -webkit-background-size: $bgSize;
  // -moz-background-size: $bgSize ;
  // -o-background-size: $bgSize;
  // background-size: $bgSize;

  .title {
    color: $highlightColor;
    margin: 0;
    padding: 50px 20px;
  }

  .message{
      color:$highlightColor;
      margin: 0;


  }

}




